<h2>To sign you up, we're going to have to know a bit about you.</h2>

<p>Already signed up?</p>
<%= render "devise/shared/links" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), multipart: true) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :full_name %><br />
    <%= f.text_field :full_name, autofocus: true %><br>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :secret_question %><br />
    <%= f.text_field :secret_question %>
  </div>

  <div class="field">
    <%= f.label :encrypted_secret, "Answer to secret question" %><br />
    <%= f.text_field :encrypted_secret %>
  </div>

  <div class="field">
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
