<nav class="navbar bg-light">
   <%= image_tag "opengallery-logo", height: 75, class: 'm-1 rounded' %>
  <div>
    <% if user_signed_in? %>
      <% if current_user.artist? %>
        <%= link_to 'Sell your work', new_piece_path, class: "p-2 text-dark" %>
      <% else %>
        <%= link_to 'Sell your work', new_workshop_path, class: "p-2 text-dark" %>
      <% end %>
      <%= link_to 'About Us', about_path, class: "p-2 text-dark" %>
      <%= link_to 'Log out', destroy_user_session_path, class: "p-2 text-dark", method: :delete %> 
   <% else %>
      <%= link_to 'About Us', about_path, class: "p-2 text-dark" %>
      <%= link_to 'Sign Up', new_user_registration_path, class: "p-2 text-dark" %>
      <%= link_to 'Login', new_user_session_path, class: "p-2 text-dark" %>
   <% end %>
 </div>
</nav>
