<nav class="navbar bg-light">
  <%= link_to 'Open Gallery Logo', home_path, class: 'navbar-brand text-dark' %>
  <div>
    <% if user_signed_in? %>
      <% if current_user.artist? %>
        <%= link_to 'Sell your work', new_piece_path, class: "p-2 text-dark" %>
      <% else %>
        <%= link_to 'Sell your work', new_workshop_path, class: "p-2 text-dark" %>
      <% end %>
      <a href="#about" class="p-3 text-dark">About Us</a>
      <%= link_to 'Log out', destroy_user_session_path, class: "p-2 text-dark", method: :delete %> 
   <% else %>
      <a href="#about" class="p-3 text-dark">About Us</a>
      <%= link_to 'Sign Up', new_user_registration_path, class: "p-2 text-dark" %>
      <%= link_to 'Login', new_user_session_path, class: "p-2 text-dark" %>
   <% end %>
 </div>
</nav>

