<nav class="navbar bg-light">
  <%= link_to 'Open Gallery Logo', home_path, class: 'navbar-brand' %>
  <div>
    <% if user_signed_in? %>
      <%= link_to 'Sell your work', new_user_registration_path, class: "p-2" %>
      <%= link_to 'About Us', new_user_registration_path, class: "p-2" %>
      <%= link_to 'Log out', destroy_user_session_path, method: :delete %> 
   <% else %>
      <%= link_to 'Sell your work', new_user_registration_path, class: "p-2" %>
      <%= link_to 'About Us', new_user_registration_path, class: "p-2" %>
      <%= link_to 'Sign Up', new_user_registration_path, class: "p-2" %>
      <%= link_to 'Login', new_user_session_path, class: "p-2" %>
   <% end %>
 </div>
</nav>

