<div class="container-fluid">
  <div class="d-flex flex-wrap mt-5 justify-content-around">
    <% @pieces.each do |piece| %>
      <div class="card mb-5 p-3 shadow col-md-5" style="height: 100vh;">
        <% if piece.uploaded_image.attached? %>
          <%= image_tag piece.uploaded_image.service_url, class: "card-img-top cover" %>
        <% end %> 
        <div class="card-body">
          <div class="row pb-3">
            <div class="col-md-7">
              <h3 class="card-title"><%= piece.name %></h3>
            </div>
            <div class="col-md">
              <p class="text-muted text-right">by <%= piece.workshop.user.full_name %></p>
              <% piece.tags.each do |tag| %>
                <div class="badge badge-light float-right border"><%= tag %></div><br />
              <% end %>
            </div>
          </div>
          <%= link_to 'More Info', piece_path(piece.id), class: 'btn white-on-orange' %>
          <% if piece.sold? %>
            <span class="badge badge-danger">Sold!</span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>