<script>
  function toggleHeart(button) {
    button.classList.toggle("fas");
    button.classList.toggle("far");
    button.classList.toggle("text-danger");
  }

  function favorArtist() {
    let button = document.getElementsByClassName("like-button")[0];
    
    if (button.classList.contains("fas")) {
      toggleHeart(button)
      // Destroy the Follower record
      $.ajax({
      url: '/followers/<%= @follower.id ? @follower.id : 0 %>',
      data: { 
        authenticity_token: $('[name="csrf-token"]')[0].content,
        id: <%= @follower.id ? @follower.id : 0 %>,  
      },
      method: 'DELETE'
      })
    alert("You have unfollowed this artist!")
    
    } else {
      toggleHeart(button)
      // Create a Follower record
      $.ajax({
      url: '/followers',
      data: { 
        authenticity_token: $('[name="csrf-token"]')[0].content,
        follower: {
          user_id: <%= current_user.id if current_user %>,
          workshop_id: <%= @piece.workshop.id %>,
          }
      },
      method: 'POST'
      }).then(() => {document.location.reload()}
      )
    }
  }
</script>

<div id="follower_id" class="d-none"><%= @follower.id %></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-3 white-on-orange">
      <% if current_user %>
      <i class="<% if @follower.id %>fas text-danger <% else %> far <% end %>fa-heart like-button btn btn-light" onclick="favorArtist()"></i>
      <% end %>
      <%= image_tag @piece.uploaded_image.service_url, width: "500", class: 'm-5 pt-4' %>
    </div>
    <div class="col-7 offset-2">
      <h2 class="m-3 text-center"><%= @piece.name %> <span class="text-orange">by</span> <%= @artist.full_name %></h2>
      <p class="text-right mt-5"><%= @piece.description %></p>
      <p class="text-right"><%= @piece.materials %></p>
      <p class="text-right"><%= @piece.dimensions %></p>
      <% @piece.tags.each do |tag| %>
        <span class="badge badge-light align-right border float-right"><%= tag %></span>
      <% end %>
      <% if @piece.sold? %>
        <br /><p class="text-right">Sold to <%= @piece.user.full_name %></p>
      <% else %>
        <% if user_signed_in? %>
          <div class="text-right">
            <br /><button type="button" class="btn white-on-orange" data-toggle="modal", data-target="#contact">
              Contact the artist
            </button>
          </div>
          <div class="text-center">
            <%= render "layouts/shared/stripe_form" %>
          </div>
        <% end %>
      <% end %>
      <% if current_user && current_user.id == @artist.id %>
        <p class="text-right"><%= link_to 'Edit', edit_piece_path(@piece.id) %></p>
        <p class="text-right"><%= link_to 'Delete', piece_path, method: :delete %></p>
      <% else %>
      <% end %>
    </div>
  </div>
</div>


<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Write to <%= @artist.full_name %></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-user prefix grey-text"></i>
          <input type="text" id="form34" class="form-control validate">
          <label data-error="wrong" data-success="right" for="form34">Your name</label>
        </div>

        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="email" id="form29" class="form-control validate">
          <label data-error="wrong" data-success="right" for="form29">Your email</label>
        </div>

        <div class="md-form mb-5">
          <i class="fas fa-tag prefix grey-text"></i>
          <input type="text" id="form32" class="form-control validate">
          <label data-error="wrong" data-success="right" for="form32">Subject</label>
        </div>

        <div class="md-form">
          <i class="fas fa-pencil prefix grey-text"></i>
          <textarea type="text" id="form8" class="md-textarea form-control" rows="4"></textarea>
          <label data-error="wrong" data-success="right" for="form8">Your message</label>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-unique">Send <i class="fas fa-paper-plane-o ml-1"></i></button>
      </div>
    </div>
  </div>
</div>