<script>
  function toggleHeart(button) {
    button.classList.toggle("fas");
    button.classList.toggle("far");
    button.classList.toggle("text-danger");
  }

  function favorArtist() {
    let button = document.getElementsByClassName("like-button")[0];
    
    if (button.classList.contains("fas")) {
      toggleHeart(button)
      // Destroy the Follower record
      $.ajax({
      url: '/followers/<%= @follower ? @follower.id : 0 %>',
      data: { 
        authenticity_token: $('[name="csrf-token"]')[0].content,
        id: <%= (@follower.id ? @follower.id : 0) if @follower %>,  
      },
      method: 'DELETE'
      })
    
    } else {
      toggleHeart(button)
      // Create a Follower record
      $.ajax({
      url: '/followers',
      data: { 
        authenticity_token: $('[name="csrf-token"]')[0].content,
        follower: {
          user_id: <%= current_user.id if current_user %>,
          workshop_id: <%= @piece.workshop.id %>,
          }
      },
      method: 'POST'
      }).then(() => {document.location.reload()}
      )
    }
  }
</script>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 white-on-orange">
      <% if current_user %>
      <i class="<% if @follower.id %>fas text-danger <% else %> far <% end %>fa-heart like-button btn btn-light" onclick="favorArtist()"></i>
      <% end %>
      <%= image_tag @piece.uploaded_image.service_url, width: "500", class: 'm-5 pt-4' %>
    </div>
    <div class="col-7 offset-2">
      <h2 class="m-3 text-center"><%= @piece.name %> 
      <br /><span class="text-orange">by</span> <%= @artist.full_name %></h2>
      <p class="text-right mt-5"><%= @piece.description %></p>
      <p class="text-right"><%= @piece.materials %></p>
      <p class="text-right"><%= @piece.dimensions %></p>
      <% @piece.tags.each do |tag| %>
        <span class="badge badge-light align-right border float-right"><%= tag %></span>
      <% end %>
      <% if @piece.sold? %>
        <br /><p class="text-right">Sold to <%= @piece.user.full_name %></p>
      <% else %>
        <% if user_signed_in? %>
          <div class="text-right">
            <br /><button type="button" class="btn white-on-orange" data-toggle="modal", data-target="#contact">
              Contact the artist
            </button>
          </div>
          <div class="text-center">
            <%= render "layouts/shared/stripe_form" %>
          </div>
        <% end %>
      <% end %>
      <% if current_user && current_user.id == @artist.id %>
        <p class="text-right"><%= link_to 'Edit', edit_piece_path(@piece.id) %></p>
        <p class="text-right"><%= link_to 'Delete', piece_path, method: :delete %></p>
      <% else %>
      <% end %>
    </div>
  </div>
</div>


<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Write to <%= @artist.full_name %></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
      <%= form_tag "https://formspree.io/testuserapp6@gmail.com", method: "POST", class: "d-flex flex-column align-items-around" do |form| %>
        <div class="md-form mb-3">
					<%= label_tag 'name' %><br />
					<%= text_field_tag 'name', value="#{@current_user.full_name if user_signed_in?}", style: "width: 100%;" %>
        </div>

        <div class="md-form mb-3">
					<%= label_tag 'email' %><br />
					<%= text_field_tag 'email', value="#{@current_user.email if user_signed_in?}", style: "width: 100%;" %>
        </div>

        <div class="md-form mb-3">
					<%= label_tag 'subject' %><br />
					<%= text_field_tag 'subject', value="About your artwork #{@piece.name}", style: "width: 100%;" %> 
        </div>

        <div class="md-form">
					<%= label_tag 'message' %><br />
					<%= text_area_tag 'message', placeholder="", style: "width: 100%;" %>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
					<%= submit_tag 'Send email!', class: 'btn white-on-orange' %>
      </div>
      <% end %>
    </div>
  </div>
</div>